*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: borderbox;
    

}

.resizer {
    width: 5px;
    height: 100%;
    background: #1E90FF;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
}

.container {
    width:100%;
    height: 100vh;
    background-color: #c0c0c0;
    
}

.form-box  {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    padding: 50px 60px 70px; 
    text-align: center;
    border-radius: 25px;

}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: black;
    position: relative;
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: black;
}

.btn-field{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-field button {
    flex-basis: 48%;
    background: #1E90FF; 
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.authenticator-field {
    margin: 15px 0;
    background: #eaeaea;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authenticator-description {
    margin-bottom: 10px;
}

.authenticator-buttons button {
    width: 100%;
    background: #000000;
    color: #fff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-bottom: 10px;
}

.authenticator-footer {
    margin-top: 20px; 
    font-size: 14px; 
    color: #333; 
    text-align: right;
}

#registerForm {
    width: 70%;
    max-width: 600px;
    height: 750px;
}

#registerForm label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

#registerForm .input-field {
    background: transparent; 
    margin: 10px 0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

#registerForm input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 0; 
    border-bottom: 1px solid #000;
    margin-bottom: 20px; 

    
}

#backToSignInBtn {
    background: #1E90FF;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 20px;
}

.step-info {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 17px;
    margin-left: 45px; /* Adjust this value to control the distance from the left arrow */
}

.step-info h1 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.registration-step i {
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 26px;
    color: #000000;
    cursor: pointer;
    
}

.registration-step i:hover {
    background: #555555;
    border-radius: 50%;
    padding: 2px;
}

.next-btn {
    width: 100%;
    background: #000000;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px; /* Adjust the font size as needed */
    padding: 10px 20px; /* Adjust the padding as needed */
    transition: background 0.3s ease; /* Add a smooth transition effect */
}

.next-btn:hover {
    background: #555555; /* Change the background color on hover */
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
}

.popup-content img {
    max-width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.outlined {
    border: 2px solid #3498db; /* Add your desired outline color */
    border-radius: 8px;
    padding: 5px;
}

#shuffledImage {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #000; /* Add your desired outline color */
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.authenticator-logo {
    max-width: 50%; /* Ensures the image doesn't exceed its container's width */
    height: auto;    /* Maintains the aspect ratio of the image */
    margin-bottom: 5px; /* Adjust this margin as needed */
}